.create-batch{
    background-color:#f0f0f0;
    height: 100vh;
}

.create-batch .btnWidth{
    width: 20rem
}

.cardDiminsions{
    height: 300px;
    width: 400px;
}

.cardDiminsions .btnWidth{
    width: 23rem
}